
html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: white;
    font-family: 'Signika', sans-serif;
    position: relative;
}

body {
    padding-top: 0px;
}

.text_container {
    margin:0 auto;
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;
}

#text {
    margin: 60px 0%;
    font-size: 18px;
    line-height: 28.8px;
}
li{
  margin: 20px 0;
}
#mon li {
    margin: 5px 0;
}
#pic {
    float: right;
}
.container{
    margin-top: 50px;
}
.info{
    z-index: 2;
    position: relative;
}

.content_container{
    margin: 40px 0;
    display:flex; 
    justify-content: space-between;
}

/* .ct-btn-scroll {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 500px;
    z-index: 9;
    border-radius: 50%;
    -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1);

  } */
  :after,
  :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.ct-btn-scroll{
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
  }
  
  .ct-btn-scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 3px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transform: scale(1);
    z-index: 50;
  }
  
  .ct-btn-scroll:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 3px 3px;
  }
  
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
@font-face {
    font-family: DinNeuzeitGrotesk;
    src: url("dinNeuzeit.otf") format("opentype");
}
#container1{
    height: 500px;
    background-color: #FFF;
    display: flex;
    font-family: 'DinNeuzeitGrotesk';
}
#container3{
    height: 500px;
    background-color: #FFF;
    display: flex;
    font-family: 'DinNeuzeitGrotesk';
}
#container2{
    height: 500px; 
    background-color:rgb(217, 205, 166);
    display: flex;
    justify-content: center;

}
.btn {
    border: 2px solid #043926;
    background-color: white;
    color: #043926;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'DinNeuzeitGrotesk';
  }
  #btn1{
    border-color: #043926;
    color: #043926;
    background-color: transparent;
  }
  #btn2{
    z-index: 15;
    border-color: white;
    color: white;
    background-color: transparent;
    font-family: 'DinNeuzeitGrotesk';
  }
#header2{
    z-index: 15;
    color: white;
    font-size: 50px;
    margin-bottom: 0;
    align-self: center;
    font-family: 'DinNeuzeitGrotesk';
}
#p2{
    z-index: 15;
    max-width: 300px;
    color: white;
    font-size: 18px;
    font-family: 'DinNeuzeitGrotesk';
}

#header4 {
    z-index: 15;
    color: white;
    font-size: 50px;
    margin-bottom: 0;
    align-self: center;
    font-family: 'DinNeuzeitGrotesk';
}
#p4{
    z-index: 15;
    max-width: 300px;
    color: white;
    font-size: 18px;
    font-family: 'DinNeuzeitGrotesk';
}

#btn4{
    z-index: 15;
    color: white;
    background-color: transparent;
    border-color: white;
    font-family: 'DinNeuzeitGrotesk';
}

.item{
    margin: 0 5px;
}
.itemm{
    margin:0 40px;
}
.topcontainer{
    height: 75%;
    background-color:darkseagreen;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;  
    flex-direction: column;
    text-align: center;
    color:white;
    padding-left: 60px;
    padding-right: 60px;
    background: transparent; 
}
#header{
    font-size:9vw;
    font-family: 'Kalam', sans-serif;
    z-index: 10;
    margin-block-end: 0.3em;
}
#news_header{
    padding-top: 75.8px;
    font-size: 40px;
    font-family: 'DinNeuzeitGrotesk', sans-serif;
    z-index: 10;
    margin-bottom: 0;
    margin-top: 0
}
.news_container {
    margin:0 auto;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
}
.map_container{
    margin:0 auto;
    max-width: 1200px;
    margin-bottom: 100px;
}
#news_subheader{
    display: flex;
    justify-content: space-around;
    max-width: 250px;
    color: #999999;
}
#news_symbol{
    padding-top: 18px;
}
#news_text {
    margin: 20px 0%;
    font-size: 18px;
    line-height: 28.8px;
}
.news_content_container{
    margin: 0px 0;
    display:flex; 
    justify-content: space-between;
}
#news_pre_text{
    padding-left: 40px;
}



.border{
    border: 1px solid #828282;
}
.subborder{
    border: 0.5px dashed #999999;
    margin-bottom: 0;
}

#subheader{
    font-size: 2.7vw;
    font-family: 'Kalam', sans-serif;
    z-index: 10;
}


/* Style the links inside the navigation bar */
/* Add a black background color to the top navigation */
.topnav {   
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #043926; 
    z-index: 100;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  white-space: nowrap;

  -webkit-transition: opacity .5s, background .5s, color .5s;
  -moz-transition: opacity .5s, background .5s, color .5s;
  -o-transition: opacity .5s, background .5s, color .5s;
  transition: opacity .5s, background .5s, color .5s;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: #043926;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    cursor: default;
    font-size: 17px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #043926;
    font-family: inherit; 
    margin: 0; 
    -webkit-transition: opacity .5s, background .5s, color .5s;
    -moz-transition: opacity .5s, background .5s, color .5s;
    -o-transition: opacity .5s, background .5s, color .5s;
    transition: opacity .5s, background .5s, color .5s;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #043926;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown .dropbtn:hover{
    color: #043926;
    background-color: white;
}
.show {display: block;}


.footRight {
    display: flex;
    flex-direction: column;
}
.footLeft{
    display: flex;
    flex-direction: column;
}

.active:link {
    color: #043926;
    background-color: white;
}
.active:visited {
    color: #043926;
    background-color: white;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


.break-word {
    hyphens: auto;
}
#img1{
    flex:1; 
    height: 100%; 
    width: 50%;
    background-size: cover;
    background-position: center;
}
#div1{
    padding: 100px 0 0 150px; 
    max-width: 400px; 
    color:#043926;
}
#div3{
    float:right; 
    padding: 100px 100px 0 20px;
    max-width: 400px; 
    position: relative; 
    color:#043926
}
#div11{
    height: 100%; 
    width: 50%;
}
#div33{
    height: 100%; 
    width: 50%;
}

.presse_link{
    text-decoration: none;
    color: inherit;
}
.presse_link_outer{
    display: flex;
    border: 1px solid #043926;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.presse_link_outerst{
    position: relative;
    margin-bottom: 50px;

}
.presse_link_outer:before{
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #043926;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.presse_link_outer:hover{
    color: white;
}
.presse_link_outer:hover:before{
    width: 100%;
    color: #fff;
}
.presse_link_inner1{
    font-size: 24px;
    flex: 1 1 auto;
    padding: 1rem;
    
    position: relative;
    overflow: hidden;
    transition: color 0.2s ease-in-out;
    
}
.presse_link_inner2{
    z-index: 2;
    position: relative;
    right: 0;
    justify-content: center;
    align-self: center;
    color: white;
    padding: 1rem 2.5rem 1rem 1rem;
}
.details{
    display: block;
    font-size: 0.75em;
    margin-top: 5px;
}
.responsive_img{
    max-width: 100%;
    height: auto;
}
.preview{
    width: 230px;
    height: 172.5px;
    padding: 5px;
    transition: 0.3s;
}
.preview:hover{
    transform: scale(1.1);
}

/* Valid only for desktop */
@media screen and (min-width: 1000px) {
  .topnav {
    display: flex;
    justify-content: center;
    
  }
  .dropdown:hover .dropdown-content {display: block;}
}


/* 
Valid only for mobile. 
The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the topnav look good on small screens (display the links vertically instead of horizontally) 
*/
@media screen and (max-width: 1000px) {
    #header{
        font-size:40px;
    }
    #subheader{
        font-size: 27px;
    }
    #img1{
        width: 100%;
        max-height: 300px;
    }
    #news_pre_text{
        padding-left: 0;
    }
    #div11{
        width: 100%;
        max-height: 300px;
    }
    #div33{
        width: 100%;
        max-height: 300px;
    }
    #div1{
        max-width: 1000px;
        padding: 0 20px;
    }
    #div3{
        max-width: 1000px;
        padding: 0 20px;
    }
    .content_container{
        flex-direction: column;
        margin: 100px 0;
    }
    .news_content_container{
        flex-direction: column;
    }
    #container1{
        flex-direction: column-reverse;
        height: 600px;
    }
    #container3{
        flex-direction: column;
        height: 600px;
    }
    .item {
        margin: 0px 20px;
    }
    .itemm{
        margin: 20px 20px;
    }
    body {
        padding-top: 0px;
    }
    .topnav {
        position: fixed;
    }
    .topnav a {
        display: block;
        text-align: left;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav .dropdown {
        display: none; 
    }
    .topnav a.icon {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
    }
    .active:link {
        color: white;
        background-color: #043926;
    }
    .active:visited {
        color: white;
        background-color: #043926;
    }
  
    /* .topnav.responsive {
        position: relative;
    } */
    
    .topnav.responsive a {
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        display: block;
        float: inherit
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}